								
								/*mise en page des éléments*/

li a {
	color: black; 
}


p a {
	color: yellow;
	text-decoration: none;
}

h4 a {
	color: blue;
	text-decoration: none;
}


p a:hover {
	color: orange;
	text-decoration: underline;
}


div a {
	color: yellow;
	text-decoration: none;
}


div a:hover {
	color: orange;
	text-decoration: underline;
}


hr {
	color:white;
}


.li1 {
	color: white;
}


.h1class1 {
	background: black;
	opacity:0.8; 
	color: white; 
	padding: 40px 10px; 
	font-size: 60px;  
	font-family: Arial Narrow, sans-serif; 
}


.h1class2 {
	color: white; 
	font-size: 40px; 
}


h2 {
	color: white; 
}


h3 {
	background: black; 
	padding: 60px 30px; 
}


table { 
	border-collapse: collapse;
	margin: auto; 
	background-color: black;
	opacity: 	0.7;
}


caption{
	color:white; 
}


td, th {
	border: 1px solid black; 
	text-align: center; 
	color: white; 
}	


th {
	color: pink; 
}	


p {
	color: white; 
}


p1 {
	text-decoration: underline;
}


.li1 {
	color: white; 
}


caption {
	font-weight: bold; 
	text-decoration: underline; 
	margin-bottom: 10px;
}


ol li {
	font-weight: bold;
	color: white;
	list-style:none;
	text-align:center;
	list-style-position:inside;
}


.class1 {
	width:50%;
	border: 1px solid #333;
  	box-shadow: 8px 8px 5px #444;
  	padding: 8px 12px;
  	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
	padding-bottom: 50px;
	opacity: 0.7; 
}


.class2 {
	width:50%;
	border: 1px solid #333;
  	box-shadow: 8px 8px 5px #444;
  	padding: 8px 12px;
  	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
	opacity: 0.7; 
}


.classp {
	padding:50px;
}


.classp4 {
	padding:50px;
	background: black; 
	padding: 60px 30px; 
}


.href {
	color: blue; 
}


.intro1 {
	padding:50px;
	width:75%;
	color: white; 
}


.menu2 {
	padding-top: 10px; 
	padding-bottom: 50px; 
}


.container01 {
	position: relative;
	width: 50%;
  	float: right;
	height:400px;
	padding-right: 0px; 

}


.container02 {
	width:50%;
	border: 1px solid #333;
  	box-shadow: 8px 8px 5px #444;
  	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
	padding: 8px 12px; 
	max-width: 500px; 
}


container1 {
	width: 75%; 
}


.classp1 {
	padding-top:30px;
	height:50%;
}


.classp2 {
	float:none;
	padding-top:300px;
}


body {
	/*background-attachment:fixed;
	background-repeat:no-repeat; 
	background-size:cover; */
	background:#291527;
	
}
/*ceci est un test des bisous*/


								/*fin mise en page des éléments*/
								/*menu déroulant*/
								
								
.menu {
	width: 50%; 
	padding: 50px;
}


ul ul {
	display: none; 
	position: absolute; 
	left: 1px; 
	top: 12px; 
	margin: 10px;
	padding: 0px; 
	border: 1px solid grey;
}

 
.li1 {
	list-style-type: none; 
	position: relative; 	
	width: 140px; 
	background-color: black; 
	opacity: 0.85;
	padding: 2px; 
	margin: 0px
}


.li1:hover {
	background-color: #FFFF70;
} 


.li1:hover ul.niveau2, .li1:hover ul.niveau3 {
	display: block;
	padding: 0px; 
	text-align: center; 
}


li.plus {
	background-position:right; 
	background-image: url(illustrations/fdroite.gif); 
	background-repeat: no-repeat; 
	border-bottom: 10px solid grey;
}


								/*fin menu déroulant*/
								/*légende image quand on passe dessus*/
								
								
* {box-sizing: border-box}


.container {
	position: relative;
	width: 50%;
	max-width: 300px;
}


.image {
	display: block;
	width: 200%;
	height: 200%; 
}


.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 200%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 0px;
	text-align: center;
}


.container:hover .overlay {
	opacity: 1;
}

								/*fin légende image quand on passe dessus*/
